* {
  box-sizing: border-box;
  color: #e4e4e4;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #2f3337;
}

.nav-bar {
  overflow: hidden;
  background-color: #222;
  position: sticky;
  top: 0;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #333;
}

.active {
  background-color: #40474f;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}

.column.side {
  width: 25%;
}

.column.middle.news {
  width: 50%;
  background-color: #40474f;
  margin-top: 50px;
}

.column img {
  width: 100%;
  padding: 10px;
  margin: auto;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}

.news-item {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 0 16px;
  color: #d4d4d4;
  border-top: 1px solid #5b6167;
  background-color: #40474f;
  text-decoration: none;
  width: 100%;
  margin: none;
}

.olsucks {
  padding-inline-start: 0px;
}

.news-item h4 {
  margin-top: 8px;
  margin-bottom: 0px;
}

.bottom {
  display: flex;
  color: grey;
  font-size: 12px;
}
.timestamp {
  padding-right: 10px;
}

.news-item:hover {
  opacity: 0.8;
}

h32 {
  height: 44;
}
.footer-links {
  list-style-type: none;
  text-align: center;
  width: 100%;
  height: 70px;
  background-color: #292e32;
  margin-bottom: 0px;
  bottom: 0;
}

.footer-links li {
  position: relative;
  top: 40%;
}

.footer-links li {
  display: inline;
  margin: 30px;
}

.footer-links a {
  text-decoration: none;
}

.login_container{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login_box {
  padding: 16px;
  color:black;
}



button {
  background-color: #777;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.user-box {
  position: relative;
}

.login_box input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login_box .user-box label {
  position: absolute;
  top: -22px;
  left: 0;
  padding: 10px 0;
  font-size: 12px;
  color: #fff;
  pointer-events: none;
}


.login_box button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  margin-right: 8px;
}

.hr {
  height:5px;
  border-width:0;
  color:gray;
  background-color:gray
}

#error_Username,#error_Email,#error_Password,#error_Password2 {
  margin-top: 0px;
  margin-bottom: 12px;
  color: #c62828;
  background: rgba(255, 0, 0, 0.1);
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}

.title {
  margin: 0px;
}

.comment {
  padding: 5px;
  border-radius: 3px;
  background-color: #444;
  margin-top: 18px;
}

.comment p,h4,h1 {
  margin: 5px;
}
.top-comment {
  display: flex;
  color: white;
  font-size: 12px;
}
.comment-content {
  margin-left: 16px;
  font-size: 24px;
}

textarea {
  width: 100%;
  height: 100px;
  background-color: transparent;
  border-radius: 3px;
  resize: none;
  font-size: 24px;

}

